<div id="backdrop" [ngClass]="{'escondido': !abierto}" (click)="clicked.emit()"></div>
<div id="container">
    <div id="data">
        <div class="area">
            <div id="pokemon">
                <div></div>
                <app-tarjeta-pokemon [fullData]="pokemon"></app-tarjeta-pokemon>
                <div></div>
            </div>
        </div>
        <div class="area">
            <div class="info">
                <p><span class="label">Tipo</span>
                    @for (type of pokemon?.types; track pokemon?.types) {
                    <span class="type" [ngStyle]="{'background-color': getTipoColor(type.type.name)}">
                        {{getTipoEnEspanol(type.type.name)}}
                    </span>
                    }
                </p>
                <p><span class="label">Altura</span>{{pokemon?.height}}'</p>
                <p><span class="label">Peso</span>{{pokemon?.weight}} lbs.</p>
            </div>

            <div id="estadisticasContainer">
                <canvas baseChart [data]="radarChartData" [options]="radarChartOptions"
                    [type]="radarChartType"></canvas>
            </div>
        </div>

        <div class="area">
            <div id="descriptionContainer">
                <div></div>
                <p>{{this.descripcion}}</p>
                <div></div>
            </div>
        </div>
    </div>
    <button (click)="clicked.emit()">
        <img src="https://pokedex-puntojson.netlify.app/assets/img/flecha.png" [ngClass]="{'girar': abierto}"
            alt="abrir/cerrar detalle" id="flecha">
    </button>
</div>